/**
 * Portier Styles
 *
 * @package Portier
 * @subpackage Core
 */

/* Admin-Bar */

#wpadminbar #wp-admin-bar-portier > .ab-item {
	padding: 0 9px 0 7px;
}

#wpadminbar #wp-admin-bar-portier > .ab-item .ab-icon {
	width: 18px;
	height: 20px;
	margin-right: 0;
}

#wpadminbar #wp-admin-bar-portier > .ab-item .ab-icon:before {
	content: '\f334'; /* dashicons-shield-alt */
	top: 2px;
	opacity: 0.4;
}

	#wpadminbar #wp-admin-bar-portier.site-protected > .ab-item .ab-icon:before {
		opacity: 1;
	}

/* WP-Pointer */

/* Non-unique specific selector (!) */
#wp-pointer-0.wp-pointer-top .wp-pointer-content h3:before {
	content: '\f334'; /* dashicons-shield-alt */
}

/* Non-unique specific selector (!) */
#wp-pointer-0.wp-pointer-top .wp-pointer-arrow {
	left: auto;
	right: 27px;
}
